.validate {
	-webkit-box-shadow:0 0 4px #8F0100;
	border: 1px solid #8F0100;
	box-shadow: 0 0 4px #8F0100;
}
.error {
	color: #8F0100;
	left: 0;
	margin: 32px 0 0 5px;
	position: absolute;
}
.error.checkbox{
	  margin: 20px 0 0 5px;
	}
.error.radio{
	margin: 20px 0 0 5px;
	}