@import url("CssReset.css");
body{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	}
h1{
	font-size:16px;
	text-align:center;
	border-bottom:1px solid #666666;
	margin-bottom:5px;
	padding-bottom:5px;
	color:#666666;
	}
input{
	 border: 1px solid #999999;
    height: 24px;
    margin-bottom: 20px;
    width: 397px;
	line-height:24px\9;/*ie 7-8 fix*/
	}
div{
	background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #666666;
    margin: 5px;
    padding: 5px;
    width: 400px;
	position:relative;
}